# OS / Editor
.DS_Store
Thumbs.db
*.swp
*.swo
*~
.vscode/
.idea/

# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*

# environment variables
.env
.env.production

# agents
.claude
